

<div class="ui inverted vertical footer segment" id="newpostfooter">
    <div class="ui container">
        © 2020 Copyright: <a href="https://tpremes.herokuapp.com/">TPRemes/Magistrum</a>
    </div>
</div>
</body>
</html>